alabaster==0.7.12
atomicwrites==1.2.1
attrs==18.2.0
Babel==2.6.0
backcall==0.1.0
bleach==3.1.4
certifi==2018.11.29
chardet==3.0.4
colorama==0.4.1
coverage==4.5.3
cvxopt==1.2.3
cycler==0.10.0
decorator==4.4.0
defusedxml==0.6.0
docutils==0.14
entrypoints==0.3
h5py==2.9.0
idna==2.8
imagesize==1.1.0
ipykernel==5.1.1
ipython==7.5.0
ipython-genutils==0.2.0
ipywidgets==7.4.2
jedi==0.14.0
Jinja2==2.10.1
jsonschema==3.0.1
jupyter==1.0.0
jupyter-client==5.2.4
jupyter-console==6.0.0
jupyter-core==4.5.0
jupyterlab==0.35.6
jupyterlab-server==0.2.0
kiwisolver==1.0.1
MarkupSafe==1.1.0
matplotlib==3.0.2
mistune==0.8.4
more-itertools==4.3.0
nbconvert==5.5.0
nbformat==4.4.0
notebook==6.1.5
numpy==1.15.4
numpydoc==0.8.0
packaging==18.0
pandas==0.24.2
pandocfilters==1.4.2
parso==0.5.0
pexpect==4.7.0
pickleshare==0.7.5
pkginfo==1.4.2
pluggy==0.8.0
prometheus-client==0.7.1
prompt-toolkit==2.0.9
ptyprocess==0.6.0
py==1.7.0
Pygments==2.3.1
pyparsing==2.3.0
PyQt5==5.11.3
PyQt5-sip==4.19.13
pyqtgraph==0.10.0
pyrsistent==0.15.2
pytest==4.0.2
python-dateutil==2.7.5
pytz==2018.7
pyzmq==18.0.1
qtconsole==4.5.1
readme-renderer==24.0
requests==2.21.0
requests-toolbelt==0.8.0
scikit-learn==0.20.2
scipy==1.2.0
seaborn==0.9.0
Send2Trash==1.5.0
six==1.12.0
snowballstemmer==1.2.1
Sphinx==1.8.3
sphinx-autodoc-typehints==1.6.0
sphinx-rtd-theme==0.4.2
sphinxcontrib-websupport==1.1.0
terminado==0.8.2
testpath==0.4.2
tornado==6.0.2
tqdm==4.28.1
traitlets==4.3.2
twine==1.12.1
urllib3==1.24.2
wcwidth==0.1.7
webencodings==0.5.1
widgetsnbextension==3.4.2
